
.first-row{
    background-color: rgb(71, 52, 52);
    height: 60px;
}
.logo{
    font-size: 40px
}
.pluse{
    position: relative;
    top: 16px;
    
    color: cadetblue;
    
 
}
.icon-bar{
    position: relative;
    
    margin-top: 12px;
}
    



.img-fluid{
    background-image: url("./img-3.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .secondNav{
      background: transparent !important;
  }